<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/auth-ngrx']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">AUTH NGRX</a>
  <a [routerLink]="['/test']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">TEST</a>
  <a [routerLink]="['/form-template-driven']" [routerLinkActive]="['form-template-driven']" [routerLinkActiveOptions]="{exact:true}">FORM TEMPLATE DRIVEN</a>
  <a [routerLink]="['/animation']" [routerLinkActive]="['animation']" [routerLinkActiveOptions]="{exact:true}">ANIMATION</a>
</nav>
